.form {
  padding: 12px 16px;
  &__item {
    height: 100px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 18px;
    background-color: #fff;
    border-radius: 10px;
    &__lable {
      margin-right: 12px;
    }
    .picker {
      height: 100px;
    }
    &__widget {
      flex: 1 !important;
      height: 100%;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
